body{
    font-family: 'Atkinson Hyperlegible', sans-serif !important;
    color: rgb(231, 231, 231) !important;
}

@media screen and (max-width: 1000px) {

} 
:root {
    --dark: rgb(44,52,60);
    --mygold: rgba(175,150,107,255);
}

/*buttons*/

.btn {
    background: white;
    transition: background .4s !important;
    border-radius: 50px !important;
    padding: 15px 30px 15px 30px !important;
}

.btn:hover {
    background: none !important;
    color: white !important;
}

/*nav*/

.my-nav {
    background-color: var(--mygold) !important;
    height: 10vh;
    color: var(--dark) !important;
}

.navbar-brand {
    padding: 0px 0px 0px 40px;
    color: var(--dark) !important;
}

/*footer*/

.footer {
    bottom: 0px;
    background-color: var(--mygold);
    height:10vh;
    max-width: 100vw;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foot-text {
    vertical-align: middle;
    color: var(--dark);
    padding: 20 10 10 10;
}

.form-input {
    width: 100%;
}

/*intro*/

.intro {
    padding: 100 0 100 0;
    background: #000 center/cover url("../Personal/assets/bg.png") no-repeat;
    min-height: 100vh;
}

.intro h1 {
    font-weight:900;
    font-size: 70px;
}

.intro p {
    font-size: 18px;
    max-width: 440px;
}

/*about*/

.about {
    padding: 100px;
    min-height: 100vh;
    color: var(--dark);
    text-align: center;
}
.about .hr-line {
    width: 80vw;
    height: 5px;
    background-color: var(--dark);
    display: inline-block;
    margin-bottom: 50px;
}

.about h1 {
    font-size: 100px;
    font-weight: 500;
}

.about-body {
    margin-top: 25px;
    max-width: 50vw;
    display: inline-block;
    font-size: large;
}

/*work*/