h1 {
    font-size: 2rem !important;
}

h2 {
    text-align: center;
    padding-top: 2%;
}

body{
    background-color: antiquewhite !important;
}

.my-nav {
    background-color: darkslategray !important;
    height: 10vh;
}

.link-icon {
    height: 50px;
    width: 50px;
    float: right;
    border-radius: 50%;
    margin: 10px;
}

.footer {
    position: fixed;
    bottom: 0px;
    background-color: darkslategrey;
    height:10vh;
    width: 100vw;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.foot-text {
    text-align: left;
    vertical-align: middle;
    color: white;
    padding: 20px;
}

.main-container {
    padding: 2% 20%
}

.card {
    padding: 1% 3% 3% 3%
}